[package]
name = "recrypt-wasm-binding"
version = "0.5.7"
authors = ["IronCore Labs <code@ironcorelabs.com>"]
description = "Bindings to run recrypt-rs as a WebAssembly module."
license = "AGPL-3.0-only"
repository = "https://github.com/IronCoreLabs/recrypt-wasm-binding"
edition = "2018"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = { version = "~0.2", features = ["serde-serialize"] }
serde = "~1.0"
js-sys = "~0.3"
pbkdf2 = { version = "0.3", default-features = false }
hmac = "0.7"
sha2 = "0.8"
rand = { version = "~0.7.3", features = ["wasm-bindgen"] }
rand_chacha = "~0.2.2"
serde_derive = "~1.0"
recrypt = { version = "~0.11.0", features = ["wasm"], default-features = false }
ironcore-search-helpers = "~0.1.2"

[profile.dev]
opt-level = 2

[profile.release]
opt-level = 3
lto = true
