name: Test Examples (Weekly)
on:
  schedule:
    - cron: 0 14 * * 1
  workflow_dispatch:
  pull_request:

jobs:
  test-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: yarn
      - name: Build example
        run: yarn && yarn build
        working-directory: examples/create-app-example
